@import url('./reset.css');
@import url('./form_unify.css');

img{
  width: 480px;
}

li{
  display: flex;
  justify-content: space-between;
  padding: 105px 0;
  border-bottom: solid 1px #777;
}

li:last-child{
  border: none;
}

h2{
  font-size: 24px;
  margin-bottom: 50px;
  color: #e84;
}

.words{
  width: 480px;
  padding-top: 15px;
}
