@import url('./reset.css');
@import url('./form_unify.css');

ul{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}


li{
  background-color: #eee;;
  padding: 25px;
  width: 340px;
  height: 100px;
  margin: 0 10px;
  border-radius: 10px;
}

h3{
  padding-bottom: 15px;
}